div {
    /*display: inline;*/
    margin: 16px 0;
}

.green {
	color: green;
	font-size: 50px;
}

#blue {
	color: blue;
	font-size: 50px;
}

/*div[class] {
	color: black;
}*/

.grandfather > .father{
	color: red;
}

.son + .sister {
	color: red;
}

/*.sister {
	color: red;
}*/

.box {
	width: 100px;
	height: 100px;
	background-color: red;
	border: 5px solid black;
	padding: 5px;
	margin: 5px;
}